<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.real_estate.dao.UploadDao">            
    <select id="selUpload" resultType="com.spring.real_estate.vo.UploadVO">
        SELECT *
        FROM upload
        ORDER BY upload_seq DESC
    </select>
</mapper>