<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.real_estate_adm.dao.BoardDao">        
    <insert id="insBoard">
        insert into board(title, img_src, img_name, region_do_val, region_si_val, region_gu_val) values(
        	#{title}, #{img_src}, #{img_name}, #{region_do_val}, #{region_si_val}, #{region_gu_val});
    </insert>
</mapper>