<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.real_estate_adm.dao.HomeDao">    
    <select id="getNowTime" resultType="string">
        SELECT NOW()
        FROM dual
    </select>
    
    <insert id="insDo">
        insert into region_do(region_do) values(#{region_do});
    </insert>
    
    <select id="selDo" resultType="com.real_estate_adm.vo.Region_doVO">
        SELECT *
        FROM region_do
    </select>
    
    <resultMap id="region_doResult" type="com.real_estate_adm.vo.Region_doVO">
        <result property="region_do" column="region_do"/>
        <result property="val" column="val"/>
    </resultMap>

</mapper>