<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.real_estate_adm.dao.HomeDao">    
    <select id="getNowTime" resultType="string">
        SELECT NOW()
        FROM dual
    </select>
    
    <insert id="insDo">
        insert into region_do(region_do) values(#{region_do});
    </insert>
    <insert id="insSi">
        insert into region_Si(region_si, region_do_val) values(#{region_si},#{region_do_val});
    </insert>
    
    <select id="selDo" resultType="com.real_estate_adm.vo.RegionVO">
        SELECT *
        FROM region_do
    </select>
    
    <select id="selSi" resultType="com.real_estate_adm.vo.RegionVO">
        SELECT *
        FROM region_si
        <if test="region_do_val != null and region_do_val != 0">
            WHERE region_do_val = ${region_do_val}
        </if>        
    </select>
</mapper>