<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.real_estate_adm.dao.HomeDao">
    <select id="getNowTime" resultType="string">
        SELECT NOW()
        FROM dual
    </select>
    
    <insert id="insDo">
        insert into region_do(region_do) values(#{region_do});
    </insert>
</mapper>